<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Swimming</b>. I am an avid swimmer who swims 6 days per week.
			  </li>
			  <li>
				  <b>Family</b>. I am a husband and the father of 5 wonderful children. When I am not working or in class, you can find me hanging out
				  with them.
			  </li>
			  <li>
				  <b>Movies</b>. I love watching movies and even more so in an actual theater. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Random Recipe Generator
    		</li>
  			<li>
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
				Board Member, Eureka Springs Preservation Society  			</li>
  			<li>
				Board Member, North Arkansas Tourism Association  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
